@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Poppins:wght@100;300;400;900&display=swap");

:root {
  /* Default Formats */
  --quickactions-gap: 0 0.5rem;

  /* Default Colors */
  --brown: #3f2305;
  --white: #f5f5f5;
  --black: #1e1e1e;
  --grey: #dfd7bf;
  --drkgrey: #c9c2ac;
  --bg-grey: #d9d9d9;
  --beige: #f2ead3;
  --dimmed: rgba(0, 0, 0, 0.5);
  --pure-black: rgb(2, 2, 2);
  --transparent: rgba(250, 250, 250, 0.5);
  --shadow: rgba(149, 157, 165, 0.2);
  --grey-shadow: #868080;
  --red: #d91e1e;

  /* Coffee Colors */
  --mocha: #967969;
  --macchiato: #928168;
  --cappuccino: #bcada3;
  --americano: #8a7d72;
  --white-choco: #ede6d6;
  --latte: #bdab98;
  --espresso: #4e2a2a;

  /* Displays */
  --shadow-below: drop-shadow(0 4px 4px var(--grey-shadow));

  /* Motions */
  --reveal: 3s;
  --side-content-delay: 3.5s;
  --card-displayed: 300ms;
  --fast-transition: 0.3s ease-in-out;
  --slow-transition: 0.75s ease-in-out;
  --fast-animation-forward: 0.5s ease forwards;
  --slow-animation-forward: 1s ease forwards;
  --lift: 0 -0.2rem;

  /* Fonts */
  --font-cherry: "Cherry Bomb One", "Londrina Solid", cursive;
  --font-londrina: "Londrina Solid", "Cherry Bomb One", cursive;
  --font-poppins: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}
* {
  color: var(--white);
}
button,
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}

html {
  color: var(--white);
  scrollbar-width: thin;
  scrollbar-color: var(--drkgrey) var(--drkgrey);
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  transition: var(--fast-transition);
}

/* body > *:not(.clip-container) {
  opacity: 0;
  animation: reveal 0.5s ease forwards;
  animation-delay: 3s;
}

header > *:not(.overlay) {
  opacity: 0;
  animation: reveal 0.5s ease forwards;
  animation-delay: 4s;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
} */

@keyframes buttonsReveal {
  to {
    scale: 1;
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

@keyframes jump {
  0%,
  100% {
  }
  50% {
    translate: 0 -10px;
  }
}

/* 
@keyframes sidesReveal {
  to {
    transform: translate(0%, 0);
  }
} */
